@font-face{
    font-family: 'roboto';
    src: url('fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family:'roboto';
    padding:0;
    margin:0;
}
.main-container{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    gap:30px;
}
.hero-container{
    display:flex;
    flex-direction:column;
    padding:20px;

    font-size:15px;
    gap:100px;
}
.nav-section{
    display:flex;
    justify-content: space-around;
    background-color: #1F2937;

}

.nav-section h1{
    font-size:20px;
}
.nav-section ul, .hero-section .left-hero p{
    font-size:18px;
    color:#E5E7EB;
    font-weight:900;
}
.nav-section > ul{
display:flex;
gap:50px;
align-items: center;
}

.nav-section > .nav-list-section li{
    list-style: none;
} 
.hero-section > .left-hero{
    display:flex;
    flex-direction:column;
    gap:10px;
    justify-content: center;

}
.hero-section > .right-hero{
    display:flex;
    justify-content: center;
    align-items: center;
}
.hero-section{
    display:flex;
    justify-content: center;
    gap:20px;
}

.hero-section .left-hero, .hero-section .right-hero, .hero-section .right-hero img{
    width:500px;
    height:auto;
}
.hero-section .left-hero h1{
    font-size:48px;
}
.hero-section > .left-hero h1, .nav-section h1{
    color:#F9FAF8;
}
.hero-section > .left-hero button, .prompt-container > div button{
    width:120px;
    height:40px;
    padding:10px;
    border-radius:10px;
    background-color:#3882F6;
    color:#fff;
    font-size:16px;

}

.hero-section > .left-hero p, .nav-section ul{
    font-weight:500;
}


.content-container{
    display:flex;
    flex-direction:column;
align-items:center;
gap:30px;
padding:20px;
margin-bottom:50px;
}
.content-container .content-box{
display:flex;
flex-direction:row;
justify-content: center;
gap:50px;
min-width:300px;
}
.content-container > *{
    flex-wrap:wrap;
    flex:1;
}
/* .content-container .content-box div img{
    width:200px;
} */

.content-container > .content-box > div{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items: center;
    width:150px;
    padding:20px;
    border-radius:10px;
    background-color: #fff;
}
.content-box > div img{
    width:100%;
    height:auto;
    border-radius:6px;
    display:block;
}
.content-container > .content-box > div > *{
    flex:1;
}
.content-container > .content-box > div img{
    margin-bottom:10px;
}
.content-container > .content-heading h1{
    font-size:36px;
    color:#1F2937;
    weight:900;
}

.feedback-container{    
    background-color: #E5E7EB;
    display:flex;
    flex-direction:column;
    justify-content: center;
align-items: center;
padding:100px 0px;
gap:10px;
flex-wrap:wrap;
}
.feedback-container div{
    display:flex;
    max-width:800px;
    font-size:35px;
    font-style: italic;
    color: #1F2937;
}
.feedback-container div *{
flex-wrap:wrap;
}
.feedback-container div:last-child{
    display:flex;
    width:100%;
    justify-content: flex-end;
    font-size:25px;
    font-weight:900;
}
.prompt-container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}
.prompt-container > div{
    display:flex;
    background-color: #3882F6;
    padding:50px 0px;
    width:70%;
    border-radius:10px;
    justify-content: space-around;
}
.prompt-container > div *{
    display:flex;
    flex-wrap:wrap;
}
.prompt-container > div > div{
    flex-direction:column;
}
.prompt-container > div:first-child h2,.prompt-container > div:first-child p{
    display:inline;
}
.prompt-container > div div{
color:#E5E7EB;
}

.footer-container{
    display:flex;
    padding:50px;
    justify-content: center;
    color:#F9FAF8;
}
.hero-container,.footer-container{
background-color: #1F2937;
}
.prompt-container > div button{
justify-content: center;
    border:solid 2px #fff;
}